<div class="risk-control">
  <div class="row">
    <div class="col-6">
      <div class="chart-wrap">
        <div echarts [options]="riskControlOption2" class="gauge-chart"></div>
      </div>
      <div class="text-center">
        <span>逾期率（笔数）</span>
      </div>
    </div>
    <div class="col-6 right-box">
      <p class="risk-item">
        <span class="text-left risk-name">逾期笔数：</span>
        <span class="text-right risk-val">{{+riskControl.overDueNumber | number}}</span>
      </p>
      <p class="risk-item">
        <span class="text-left risk-name">放款笔数：</span>
        <span class="text-right risk-val">{{+riskControl.loanNumber | number}}</span>
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="chart-wrap">
        <div echarts [options]="riskControlOption1" class="gauge-chart"></div>
      </div>
      <div class="text-center">
        <span>逾期率（金额）</span>
      </div>
    </div>
    <div class="col-6 right-box">
      <p class="risk-item">
        <span class="text-left risk-name">逾期金额：</span>
        <span class="text-right risk-val">{{+riskControl.overDueAmt | number:'1.0-0'}}</span>
      </p>
      <p class="risk-item">
        <span class="text-left risk-name">待收余额：</span>
        <span class="text-right risk-val">{{+riskControl.loanAmt | number:'1.0-0'}}</span>
      </p>
    </div>
  </div>
  <p class="c-m2">
    <span class="c-m2-key bold">C-M1 </span>
    <span class="bg-red c-m2-val">{{cm2 | number:'1.0-2'}}%</span>
  </p>
  <p class="c-m2">
    <span class="c-m2-key bold">C-M2 </span>
    <span class="bg-red c-m2-val">{{cm2 | number:'1.0-2'}}%</span>
  </p>
  <div class="sub-title-wrap">
    <h4 class="sub-title">团队成员风控详情</h4>
  </div>
  <div class="table-wrap">
    <p class="remark pull-right font-blue">* 金额单位:{{posId == 2?'元':'万元'}}</p>
    <table class="table">
      <thead>
        <tr>
          <th>姓名</th>
          <th>逾期笔数</th>
          <th>放款笔数</th>
          <th>逾期金额</th>
          <th>待收余额</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let member of mbsRisk">
          <td>{{member.name}}</td>
          <td>{{member.overDueNumber | number}}</td>
          <td>{{member.loanNumber | number}}</td>
          <ng-container *ngIf="posId == 2">
            <td>{{member.overDueAmt | number}}</td>
            <td>{{member.loanAmt | number}}</td>
          </ng-container>
          <ng-container *ngIf="posId != 2">
            <td>{{member.overDueAmt/10000 | number:'1.0-0'}}</td>
            <td>{{member.loanAmt/10000 | number:'1.0-0'}}</td>
          </ng-container>
        </tr>
      </tbody>
    </table>
    <p class="remark pull-left" *ngIf="hasOther&&posId==2">* 其他: 包括历史离职或异动成员</p>
    <p class="remark pull-left" *ngIf="hasOther&&posId==3">* 其他: 包括电销业绩数据</p>
  </div>

</div>
