<div class="info">
  <div class="sub-title-wrap"><h4 class="sub-title">个人资料</h4></div>
  <div class="person-info row">
    <!-- <div class=""> -->
      <div class="col-7">
        <p class="info-item">
          <span class="item-name text-center font-blue">姓名</span>
          <span class="item-value text-left">{{myInfo.name}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-center font-blue">工号</span>
          <span class="item-value text-left">{{myInfo.number}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-center font-blue">职位</span>
          <span class="item-value text-left">{{myInfo.position}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-center font-blue">职级</span>
          <span class="item-value text-left">{{myInfo.rank}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-center font-blue">上级</span>
          <span class="item-value text-left">{{myInfo.superior}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-center font-blue">入职时间</span>
          <span class="item-value text-left">{{myInfo.dateStr}}</span>
        </p>
        <!-- <p class="info-item">
          <span class="item-name text-left">MOB</span>
          <span class="item-value text-center">{{myInfo.mob}}</span>
        </p> -->
      </div>
      <div class="col-5">
        <img [src]="myInfo.avatarUrl" class="avatar" alt="" width="100%" >
      </div>
      <div class="col-12">
        <p class="info-item">
          <span class="item-name text-center font-blue">区域</span>
          <span class="item-value text-left">{{myInfo.bigArea + '-' + myInfo.smallArea}}</span>
        </p>
        <p class="info-item">
          <span class="item-name text-center font-blue">团队</span>
          <span class="item-value text-left">{{myInfo.store + '-' + myInfo.team}}</span>
        </p>
      </div>
    <!-- </div> -->
  </div>

  <div class="sub-title-wrap"><h4 class="sub-title">我的团队竞争力</h4></div>
  <div class="radar-chart-wrap">
    <div echarts [options]="radarOption" class="radar-chart"></div>
  </div>

  <div class="sub-title-wrap"><h4 class="sub-title">我的成长轨迹</h4></div>
  <div class="timeline">
    <div class="timeline-item" *ngFor="let item of growthTrack">
      <div class="timeline-badge"></div>
      <div class="timeline-body">
        <!-- <div class="timeline-body-arrow"> </div> -->
        <div class="timeline-body-content">
          <p class="timeline-date">{{item.dateStr}}</p>
          <p class="timeline-content">{{item.event}}</p>
        </div>
      </div>
    </div>
  </div>
