<div class="review" id="review">
  <div class="tabset row text-center">
    <div class="col-4">
      <span class="tab-title" [class.selected]="curTab === 'track'" (click)="changeTab('track')">业绩分析</span>
    </div>
    <div class="col-4">
      <span class="tab-title" [class.selected]="curTab === 'human'" (click)="changeTab('human')">人力分析</span>
    </div>
    <div class="col-4">
      <span class="tab-title" [class.selected]="curTab === 'produce'" (click)="changeTab('produce')">产品分析</span>
    </div>
  </div>
  <div class="tab-container">
    <my-tab-track *ngIf="curTab === 'track'" [isActive]="curTab === 'track'"></my-tab-track>
    <my-tab-human *ngIf="curTab === 'human'" [isActive]="curTab === 'human'"></my-tab-human>
    <my-tab-produce *ngIf="curTab === 'produce'" [isActive]="curTab === 'produce'"></my-tab-produce>
    <!-- <div class="tab-track" *ngIf="curTab === 'track'">
      <div class="track-sel">
        <my-select-box [seledItem]="curLevel" [selItems]="subLevels" (getSelItems)="getSelItems()" (onSelChanged)="getPfmcData($event)"></my-select-box>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">申请情况</h4></div>
      <div class="apply-chart-wrap">
        <div echarts [options]="applyOption" class="apply-chart"></div>
      </div>
      <div class="count-info">
        <p>
          <span>本年累计申请单量</span>
          <span class="pull-right">{{pfmcTotal.appNumber|number}}</span>
        </p>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">放款情况</h4></div>
      <div class="loan-chart-wrap">
        <div echarts [options]="loanOption" class="loan-chart"></div>
      </div>
      <div class="count-info">
        <p>
          <span>本年累计放款单量</span>
          <span class="pull-right">{{pfmcTotal.number|number}}</span>
        </p>
        <p>
          <span>本年累计放款金额(万元)</span>
          <span class="pull-right">{{pfmcTotal.amt|number}}</span>
        </p>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">逾期情况</h4></div>
      <div class="overdue-chart-wrap">
        <div echarts [options]="overdueOption" class="overdue-chart"></div>
      </div>
    </div> -->

    <!-- <div class="tab-human" *ngIf="curTab === 'human'">
      <div class="sub-title-wrap"><h4 class="sub-title">产能分析</h4></div>
      <div class="capacity-chart-wrap">
        <div echarts [options]="capacityOption" class="capacity-chart" id="capacityChart"></div>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">年资段分析</h4></div>
      <div class="seniority-wrap text-center">
        <div class="row font-blue seniority-hd">
          <span class="col-2">MOB</span>
          <span class="col-2">总人力</span>
          <span class="col-2">开单人力</span>
          <span class="col-3">总销售金额</span>
          <span class="col-3">销售占比</span>
        </div>
        <div class="row seniority-item" *ngFor="let item of tmSeniority">
          <span class="col-2">{{item.mobRng}}</span>
          <span class="col-2">{{item.totNum}}</span>
          <span class="col-2">{{item.billingNum}}</span>
          <span class="col-3">{{item.saleAmt | number}}</span>
          <span class="col-3">{{item.salePct}}%</span>
        </div>
        <p class="remark pull-right font-blue">* 金额单位：万元</p>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">综合竞争力对比</h4></div>
      <div class="competitive-wrap">
        <div class="row">
          <i class="help-icon" (click)="open()"></i>
          <div class="col-6" *ngFor="let item of teamMbs">
            <p class="text-center">{{item.name}}</p>
            <div class="radar-chart-wrap">
              <div echarts [options]="item.radarChartOpt" class="radar-chart"></div>
            </div>
          </div>
          <p class="remark">* 数据统计范围为近三个月（包括本月）</p>
        </div>
      </div>
    </div> -->

    <!-- <div class="tab-produce" *ngIf="curTab === 'produce'">
      <div class="sub-title-wrap"><h4 class="sub-title">产品申请分析</h4></div>
      <div class="sub-tabset row text-center">
        <div class="col">
          <span class="tab-title" [class.selected]="curTab === 'track'" (click)="changeTab('track')">近6个月</span>
        </div>
        <div class="col">
          <span class="tab-title" [class.selected]="curTab === 'track'" (click)="changeTab('track')">本月</span>
        </div>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">产品通过率</h4></div>
      <div class="passRate-chart-wrap">
        <div echarts [options]="passRateOption" class="passRate-chart"></div>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">产品份额</h4></div>
      <div class="row">
        <div class="col-6">
          <div class="pie-chart-wrap">
            <div echarts [options]="applyOrderOption" class="pie-chart"></div>
            <h4 class="text-center chart-title">申请单量构成</h4>
          </div>
        </div>
        <div class="col-6">
          <div class="pie-chart-wrap">
            <div echarts [options]="loanAmtOption" class="pie-chart"></div>
            <h4 class="text-center chart-title">放款金额构成</h4>
          </div>
        </div>
        <div class="legendlist">
          <div class="legend" *ngFor="let item of legendList;let i=index">
            <div [style.backgroundColor]="legendColorList[i]" class="legend-box">
            </div>
            <span>{{item}}</span>
          </div>
        </div>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">产品逾期率(金额)</h4></div>
      <div class="overdueRate-chart-wrap">
        <div echarts [options]="overdueRateOption" class="overdueRate-chart"></div>
      </div>
      <div class="sub-title-wrap"><h4 class="sub-title">产品件均金额</h4></div>
      <div class="avgAmt-chart-wrap">
        <div echarts [options]="avgAmtOption" class="avgAmt-chart"></div>
      </div>
    </div> -->
  </div>
</div>
