.review {
  margin-bottom:.48rem;
  font-size: .4rem;
}
.review .tabset{
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000;
  background-color: #03031a;
}
.tab-container {
  margin-top: 1.9rem;
}
