<div class="tab-track" id="tabTrack">
  <div class="sub-title-wrap"><h4 class="sub-title">申请情况</h4></div>
  <div class="track-sel">
    <my-select-box [seledItem]="applyLevel" [dataUrl]="subNameUrl1" (onSelChanged)="getSqqkData($event)"></my-select-box>
  </div>
  <div class="apply-chart-wrap">
    <div echarts [options]="applyOption" class="apply-chart"></div>
  </div>
  <div class="count-info">
    <p *ngFor="let item of applyArr">
      <span>{{item.name}}</span>
      <span class="pull-right">{{item.value|number}}</span>
    </p>
  </div>
  <div class="sub-title-wrap"><h4 class="sub-title">放款情况</h4></div>
  <div class="track-sel">
    <my-select-box [seledItem]="loanLevel" [dataUrl]="subNameUrl" (onSelChanged)="getFkqkData($event)"></my-select-box>
  </div>
  <div class="loan-chart-wrap">
    <div echarts [options]="loanOption" class="loan-chart"></div>
  </div>
  <div class="count-info">
    <p *ngFor="let item of loanArr">
      <span>{{item.name}}</span>
      <span class="pull-right">{{item.value|number}}</span>
    </p>
    <!-- <p>
      <span>本年累计放款单量</span>
      <span class="pull-right">{{pfmcTotal.number|number}}</span>
    </p>
    <p>
      <span>本年累计放款金额(万元)</span>
      <span class="pull-right">{{pfmcTotal.amt|number}}</span>
    </p> -->
  </div>
  <div class="sub-title-wrap"><h4 class="sub-title">逾期情况</h4></div>
  <div class="track-sel">
    <my-select-box [seledItem]="overdueLevel" [dataUrl]="subNameUrl" (onSelChanged)="getYqqkData($event)"></my-select-box>
  </div>
  <div class="overdue-chart-wrap">
    <div echarts [options]="overdueOption" class="overdue-chart"></div>
  </div>
</div>
