<div class="assessment-warning">
  <div class="sub-title-wrap">
    <h4 class="sub-title">本月考核预警</h4>
  </div>
  <div class="early-warning">
    <div>
      <p class="text-center">当前职位: <span>{{warningInfos.pos}}</span></p>
      <p class="text-center">本次考核目标金额为<span class="font-blue bold"> {{warningInfos.goalAmt}} </span>万元</p>
      <p class="time-line row text-center">
        <span class="col-4" *ngFor="let i of warningInfos.months">{{i}}月</span>
      </p>
      <span>剩余</span>
      <p class="volume row text-center font-blue">
        <span class="col-4">{{warningInfos.m2Amt | number}}</span>
        <span class="col-4">{{warningInfos.m1Amt | number}}</span>
        <span class="col-4">{{warningInfos.amt | number}}</span>
      </p>
      <div class="volume-progress">
        <span class="volume-key">金额<br><span class="unit">(万元)</span></span>
        <ngb-progressbar type="customized" [value]="warningInfos.amtRate*100" class="volume-progress-bar">
          <i>{{warningInfos.totalAmt | number:'1.0-2'}}</i>
        </ngb-progressbar>
        <span class="font-red volume-val text-center">{{+warningInfos.goalAmt - warningInfos.totalAmt <= 0 ? 0 : warningInfos.goalAmt - warningInfos.totalAmt | number:'1.0-2'}}</span>
      </div>
      <h3 class="text-center font-red">{{(warningInfos.amtRate < 1)?'考核尚未达标，请继续加油!':'恭喜，本次考核已达标！'}}</h3>
    </div>
  </div>
</div>
