// 选择框
.sel-wrap {
  position: relative;
  font-size: 14px;
}
.sel-wrap .sel-title {
  display: inline-block;
  height: .85rem;
  line-height: .85rem;
  width: 1.25rem;
  background: #1C1D31;
  text-align: center;
  color: #06E7E9;
  border-radius: .08rem 0 0 .08rem ;
}
.sel-wrap .sel-btn {
  display: inline-block;
  height: .85rem;
  line-height: .85rem;
  width: 3.33rem;
  background: rgba(46, 45, 62, 0.9);
  margin-left: -.13rem;
  text-align: center;
  border-radius: 0 .1rem .1rem 0;
}
.sel-wrap .sel-box {
  position: absolute;
  top: .9rem;
  left: 0;
  background: rgba(46, 45, 62, 0.9);
  border-radius: .13rem;
  text-align: center;
  z-index: 9;
  display: none;
  min-width: 66vw;
}
.sel-wrap .sel-box.show {
  display: block;
}
.sel-wrap .sel-box .row{
  margin-right: 0;
  margin-left: 0;
}
.sel-wrap .sel-box .col-3 {
  padding: .2rem .17rem;
  font-size: 12px;
}
.sel-wrap .sel-box .active {
  color: #06E7E9;
}
