<div class="tab-human">
  <div class="sub-title-wrap"><h4 class="sub-title">产能分析</h4></div>
  <ng-container *ngIf="posId > 2 ">
    <div class="sub-tabset-wrap">
      <my-tabset-ui [tabList]="['近6个月', '本月']" [curTab]="'近6个月'" (onTabChanged)="switchTab('cap', $event)"></my-tabset-ui>
    </div>
    <div class="track-sel" [class.hidden]="capType === 'curMonth'">
      <my-select-box  [seledItem]="curCapLevel" [dataUrl]="subNameUrl" (onSelChanged)="getTmCapanls($event, 'sixMonth')"></my-select-box>
    </div>
  </ng-container>
  <div class="sub-tabset-container">
    <div class="chart-wrap">
      <div echarts [options]="capanlsOption" class="capanls-chart"></div>
    </div>
  </div>

  <div class="sub-title-wrap"><h4 class="sub-title">开单分析</h4></div>
  <ng-container *ngIf="posId > 2 ">
    <div class="sub-tabset-wrap">
      <my-tabset-ui [tabList]="['近6个月', '本月']" [curTab]="'近6个月'" (onTabChanged)="switchTab('billing', $event)"></my-tabset-ui>
    </div>
    <div class="track-sel" [class.hidden]="billingType === 'curMonth'">
      <my-select-box  [seledItem]="curBillingLevel" [dataUrl]="subNameUrl" (onSelChanged)="getTmBillinganls($event, 'sixMonth')"></my-select-box>
    </div>
  </ng-container>
  <div class="sub-tabset-container">
    <div class="chart-wrap">
      <div echarts [options]="billingAnlsOption" class="billinganls-chart"></div>
    </div>
  </div>

  <div class="sub-title-wrap"><h4 class="sub-title">流失分析</h4></div>
  <ng-container *ngIf="posId > 2 ">
    <div class="sub-tabset-wrap">
      <my-tabset-ui [tabList]="['近6个月', '本月']" [curTab]="'近6个月'" (onTabChanged)="switchTab('loss', $event)"></my-tabset-ui>
    </div>
    <div class="track-sel" [class.hidden]="lossType === 'curMonth'">
      <my-select-box  [seledItem]="curLossLevel" [dataUrl]="subNameUrl" (onSelChanged)="getTmLossanls($event, 'sixMonth')"></my-select-box>
    </div>
  </ng-container>
  <div class="sub-tabset-container">
    <div class="chart-wrap">
      <div echarts [options]="lossAnlsOption" class="lossanls-chart"></div>
    </div>
  </div>

  <!-- <div class="capacity-chart-wrap">
    <div echarts [options]="capacityOption" class="capacity-chart" id="capacityChart"></div>
  </div> -->
  <div class="sub-title-wrap"><h4 class="sub-title">年资段分析</h4></div>
  <ng-container>
    <div class="track-sel seniority-sel">
      <my-select-box  [seledItem]="curLevel" [dataUrl]="subNameUrl" (onSelChanged)="getTmSeniority($event)"></my-select-box>
    </div>
  </ng-container>
  <div class="seniority-wrap text-center">
    <div class="fixed-table">
      <div class="left-fixed">
        <span class="font-blue seniority-hd">MOB</span>
        <div class="seniority-item" *ngFor="let item of tmSeniority">
          <span>{{item.mobRng}}</span>
        </div>
      </div>
      <div class="right-content">
        <div class="font-blue seniority-hd row">
          <span class="col">总人力</span>
          <span class="col">开单人力</span>
          <span class="col">开单率</span>
          <span class="col">人均产能</span>
          <span class="col">总销售金额</span>
          <span class="col">销售占比</span>
          <span class="col">流失率</span>
        </div>
        <div class="seniority-item row" *ngFor="let item of tmSeniority">
          <span class="col">{{item.totNum}}</span>
          <span class="col">{{item.billingNum}}</span>
          <span class="col">{{item.billingRt}}%</span>
          <span class="col">{{item.avgAmt}}</span>
          <span class="col">{{item.saleAmt | number}}</span>
          <span class="col">{{item.salePct}}%</span>
          <span class="col">{{item.lossRt}}%</span>
        </div>
      </div>
    </div>
    <p class="remark pull-right font-blue">* 金额单位：万元</p>
  </div>
  <div class="sub-title-wrap"><h4 class="sub-title">综合竞争力对比</h4></div>
  <div class="competitive-wrap">
    <div class="row">
      <i class="help-icon" (click)="open()"></i>
      <div class="col-6" *ngFor="let item of teamMbs">
        <p class="text-center">{{item.name}}</p>
        <div class="radar-chart-wrap">
          <div echarts [options]="item.radarChartOpt" class="radar-chart"></div>
        </div>
      </div>
      <p class="remark">* 数据统计范围为近三个月（包括本月）</p>
    </div>
  </div>
</div>
