<div class="rank">
  <div class="tabset row text-center">
    <div class="col-6">
      <span class="tab-title" [class.selected]="curRank === 'loan'" (click)="changeTab('loan')">合同金额排行榜</span>
    </div>
    <div class="col-6">
      <span class="tab-title" [class.selected]="curRank === 'overdue'" (click)="changeTab('overdue')">逾期控制排行榜</span>
    </div>
  </div>
  <div class="sub-title-wrap"><h4 class="sub-title">{{teamName}}排名</h4></div>
  <div class="my-rank" [ngClass]="imgClass">
    <img [src]="imgUrl" alt="">
    <!-- <span class="percent-num font-yellow" *ngIf="myRank.rank < 4" [class.rankOne]="myRank.percent == 0">{{100 - myRank.percent}}<span class="percent-symble">%</span></span> -->
    <span class="rank-num" [class.top-num]="myRank.rank < 4">{{myRank.rank}}</span>
  </div>
  <div class="sub-title-wrap"><h4 class="sub-title">前十排名</h4></div>
  <div class="table-wrap">
    <table class="table" *ngIf="curRank === 'loan'">
      <thead>
        <tr>
          <th>排名</th>
          <th>{{teamName}}名称</th>
          <th>合同金额(万元)</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let item of loanTopTen" [class.font-yellow]="item.rank === myRank.rank">
          <td class="font-yellow">{{item.loanRank}}</td>
          <td>{{item.name}}</td>
          <td>{{item.loanAmt | number}}</td>
        </tr>
      </tbody>
    </table>
    <table class="table" *ngIf="curRank === 'overdue'">
      <thead>
        <tr>
          <th>排名</th>
          <th>{{teamName}}名称</th>
          <th>C-M2</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let item of cm2TopTen" [class.font-yellow]="item.rank === myRank.rank">
          <td class="font-yellow">{{item.cm2Rank}}</td>
          <td>{{item.name}}</td>
          <td>{{item.cM2Rate}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
