.tab-produce .sub-title-wrap {
  margin-bottom: 0;
}
.sub-tabset-wrap {
  margin-bottom: .23rem;
}
// 选择框
.tab-produce .track-sel {
  margin-bottom: .17rem;
  padding:0 .6rem;
}
.hidden {
  visibility: hidden;
}
.tab-produce .sub-tabset-container {
  margin-bottom: 1.07rem;
}
.tab-produce .chart{
  height: 7rem;
}
