<div class="tab-produce">
  <ng-container *ngFor="let item of list">
    <div class="sub-title-wrap"><h4 class="sub-title">{{item.title}}</h4></div>
    <div class="sub-tabset-wrap">
      <div class="sub-tabset row text-center">
        <div class="col">
          <span class="tab-title" [class.selected]="item.curSubTab === 'trend'" (click)="switchChart('trend', item.type)">近6个月</span>
        </div>
        <div class="col">
          <span class="tab-title" [class.selected]="item.curSubTab === 'curMonth'" (click)="switchChart('curMonth', item.type)">本月</span>
        </div>
      </div>
    </div>
    <div class="sub-tabset-container">
      <div class="track-sel" [class.hidden]="item.curSubTab === 'curMonth'">
        <my-select-box  [seledItem]="item.curLevel" [dataUrl]="subNameUrl" (onSelChanged)="getTrend($event, item.type)"></my-select-box>
      </div>
      <div class="chart-wrap">
        <div echarts [options]="item.chartOption" class="chart"></div>
      </div>
    </div>
  </ng-container>
</div>
