
.time-progress {
  padding: .53rem 6px 0 6px;
  margin-bottom: .64rem;
  font-size: .35rem;
}
.time-progress .col.text-left {
  padding-right: 0;
}
.time-progress .col.text-right {
  padding-left: 0;
}
.time-progress .col.text-center {
  padding-left: 0;
  padding-right: 0;
}
.month-overview,.forecast-overview{
  margin: .41rem -13px 1.37rem -13px;
  padding: 0 13px 1.76rem 13px;
  border-bottom: 2px solid #191b2f;
}
.risk-overview {
  margin: .41rem -13px .5rem -13px;
  padding: 0 13px 0 13px;
}
//当日团队销售进度
// .overview .index-item{
//   height: 1.21rem;
//   line-height: 1.21rem;
//   font-size: .4rem;
//   padding: 0 .6rem 0 .27rem;
//   border-bottom: 1px dashed #b7bac3;
// }
// .overview .index-item:last-child{
//   border-width: 0;
//   font-size: .45rem;
//   padding-top: .27rem;
//   padding-right: 0;
//   font-weight: bold;
// }
// .overview .index-item:last-child .bg-red{
//   padding: 0 .3rem;
// }
// 月销售进度
.month-overview > .row:first-child{
  margin: 0 2px 0 -7px;
}
.month-overview > .row{
  margin-left: 0;
  margin-right: 0;
  padding: 0 .13rem;
}
.month-overview > .row:nth-child(3) {
  margin-bottom: 1.28rem;
}
.month-overview > .row:first-child > .col-6:first-child{
  padding-left: 0;
}
.sale-progress-chart{
  // height: 4.53rem;
  height: 3.8rem;
}
.right-list {
  margin-top: .6rem;
}
.amt-info{
  margin-top: -.23rem;
  font-size: .4rem;
}
.amt-info .amount-value{
  margin-bottom: .25rem;
}
.month-overview .index-item{
  height: 1.6rem;
  line-height: 1.6rem;
  font-size: .4rem;
  border-bottom: 1px dashed #b7bac3;
}
.month-overview span.text-left,.month-overview span.text-right{
  padding: 0;
}
.month-overview .target-val {
  padding-left: 0;
}

.next-icon {
  height: .53rem;
  width: .53rem;
  margin-left: .2rem;
  margin-right: .1rem;
}
