<div class="month-performance">
  <div class="sub-title-wrap">
    <h4 class="sub-title">{{teamName}}成员进度</h4>
  </div>
  <div class="member-list">
    <div class="member-progress" *ngFor="let member of mbsPerformance" [class.warn-red]="member.rate - timeProgress < 0">
      <i class="avatar-icon"></i>
      <span class="volume-key text-left">{{member.name}}</span>
      <!-- <ngb-progressbar type="customized" [value]="member.rate" [striped]="true" [animated]="true" class="member-progress-bar">
        <i>{{member.amt | number}}</i>
      </ngb-progressbar> -->
      <ng-template #tipContent>
        <p>今日新增金额：{{member.newAmt}}</p>
        <p>本月累计金额：{{member.amt}}</p>
        <p>预计达成金额：{{member.expReachAmt}}</p>
        <p>预计达成率：{{member.expReachRt}}%</p>
      </ng-template>
      <div class="progress member-progress-bar" [ngbTooltip]="tipContent" triggers="click">
        <div class="progress-bar bg-customized progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width':member.yDayTotRt+'%'}"><i>{{member.amt | number}}</i></div>
        <div class="progress-bar bg-new progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{'width':member.newRt+'%'}"></div>
      </div>
      <span class="volume-val text-center pull-right">{{member.rate}}%</span>
    </div>
    <p class="remark pull-left" *ngIf="hasOther">* 其他: 包括当月离职或异动成员</p>
  </div>

  <div class="sub-title-wrap">
    <h4 class="sub-title">每周{{teamName}}销售情况</h4>
  </div>
  <div class="performance-trend">
    <div class="track-sel">
      <my-select-box [seledItem]="curLevel" [dataUrl]="subNameUrl" (onSelChanged)="getWeeklyTrend($event)"></my-select-box>
    </div>
    <div echarts [options]="trendOption" class="trend-chart"></div>
  </div>
</div>
